[submodule "public"]
    path = public
    url = git@github.com:tdm1094/blog-personal-publico.git
    pushurl = git@github.com:tdm1094/blog-personal-publico.git
[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = git@github.com:tdm1094/blog-personal-tema-hugo-classic.git
    pushurl = git@github.com:tdm1094/blog-personal-tema-hugo-classic.git
